scrapy
pony==0.7.3
PyMySQL
py-pretty
pycrypto
elasticsearch>=5.0.0,<6.0.0
elasticsearch-dsl>=5.0.0,<6.0.0
python-dateutil
Twisted
txsocksx
numpy
scipy
scikit-learn
tabulate
langdetect
pycountry
networkx
python-memcached
pillow
flask
app
timeout_decorator
pretty
crypto
SHA256
gensim
sklearn
paramiko
PyPyDispatcher>=2.1.0
urllib3==1.21.1